{% extends "base.html" %}
{% block title %}Courses | My Institute{% endblock %}

{% block content %}
  <div class="page-container">
    <h1>Explore Our Courses</h1>

    <div class="course-grid">
      <div class="course-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python Programming" />
        <h3>Python Programming</h3>
        <p>Learn Python from basics to advanced.</p>
        <a href="/form" class="enroll-btn">Enroll Now</a>
      </div>

      <div class="course-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/C_Programming_Language.svg" alt="C Programming" />
        <h3>C Programming</h3>
        <p>Master C language with real projects.</p>
        <a href="/form" class="enroll-btn">Enroll Now</a>
      </div>

      <div class="course-card">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg" alt="Java" />
        <h3>Java Development</h3>
        <p>Build desktop & web apps with Java.</p>
        <a href="/form" class="enroll-btn">Enroll Now</a>
      </div>

      <div class="course-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="HTML5" />
        <h3>Web Development</h3>
        <p>Create stunning websites using HTML, CSS & JS.</p>
        <a href="/form" class="enroll-btn">Enroll Now</a>
      </div>

      <div class="course-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg" alt="PHP Programming" />
        <h3>PHP</h3>
        <p>Learn PHP from basics to advanced.</p>
        <a href="/form" class="enroll-btn">Enroll Now</a>
      </div>

      <div class="course-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JavaScript" />
        <h3>Java Script</h3>
        <p>Master Java Script language with real projects.</p>
        <a href="/form" class="enroll-btn">Enroll Now</a>
      </div>

      <div class="course-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" alt="C++ Programming" />
        <h3>C++</h3>
        <p>Master C++ language with real projects.</p>
        <a href="/form" class="enroll-btn">Enroll Now</a>
      </div>

      <div class="course-card">
        <img src="https://upload.wikimedia.org/wikipedia/en/d/dd/MySQL_logo.svg" alt="MySQL"/>
        <h3>MySQL</h3>
        <p>Learn how to manage and query real-world databases.</p>
        <a href="/form" class="enroll-btn">Enroll Now</a>
      </div>
    </div>
  </div>
{% endblock %}
